{% extends 'base.html' %}

{% block content %}
    <h1 class="text-primary title">Contact Form</h1>

    <form class="form-base" action="{% url 'contact:home' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col field-pair">
                <label>Email address</label>
                {{ form.email }}
            </div>
            <div class="col field-pair">
                <label>Full name</label>
                {{ form.full_name }}
            </div>
        </div>
        <div class="field">
            <label>Subject</label>
            {{ form.subject }}
        </div>
        <div class="field">
            <label>Message</label>
            {{ form.message }}
        </div>
        <div class="field">
            <button type="submit" class="btn btn-md btn-outline-primary">Submit</button>
        </div>
    </form>
{% endblock %}
